[D-BUS Service]
Name=com.happytomatoe.VoiceToText
Exec=/bin/sh -c 'exec $(command -v voice-to-text-dbus-wrapper || echo $HOME/.local/bin/voice-to-text-dbus-wrapper)'
